<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <%- include('./partials/nav') %>
  <body>
    <!-- Include Nav Partial -->
    <h1>Full Menu</h1>
    <h1>Mains</h1>
    <% menu.forEach(item => { if(item.category === 'mains') { %>
    <div>
      <h1><%= item.name %></h1>
      <p>Price: $<%= item.price %></p>
      <p>Rating: <%= item.rating %></p>
      <p><%= item.details %></p>
    </div>
    <% } }) %>
    <h1>Desserts</h1>
    <% menu.forEach(item => { if(item.category === 'desserts') { %>
    <div>
      <h1><%= item.name %></h1>
      <p>Price: $<%= item.price %></p>
      <p>Rating: <%= item.rating %></p>
      <p><%= item.details %></p>
    </div>
    <% } }) %>
    <h1>Sides</h1>
    <% menu.forEach(item => { if(item.category === 'sides') { %>
    <div>
      <h1><%= item.name %></h1>
      <p>Price: $<%= item.price %></p>
      <p>Rating: <%= item.rating %></p>
      <p><%= item.details %></p>
    </div>
    <% } }) %>
  </body>
</html>
